.image-editor {
    position: relative;
    margin-top: 13px;
    padding-top: 24px;

    &__title {
        position: absolute;
        left: 0;
        top: 0;
        color: rgba(0, 0, 0, 0.3);
        font-size: 16px;
        transform: scale(0.75);
        transform-origin: 0;
    }
}