@import "../../../../styles/constants.less";


@media screen and (max-width: @tablet-width) {
    .benefits4 {
        padding: 0;

        &__container {
            width: 100%;
            padding: 32px 15px;
        }

        &__title {
            text-align: center;
        }

        &__banner-wrapper {
            flex-direction: column;
            width: 60%
        }

        &__titled-image-container {
            width: 40%;
        }

        &__banner {
            width: 100%;
            margin-right: 0;
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}