@import "../../../../styles/constants.less";


@media screen and (max-width: @mobile-width) {
    .benefits4 {
        &__container {
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        &__banner-wrapper {
            width: 100%;
            margin-top: 40px;
            padding-left: 0;
        }

        &__titled-image-container {
            width: 100%;
            padding-top: 0;
        }
    }
}