@import "../../../../styles/constants.less";


.benefits1 {
    width: 100%;
    padding: 16px 0;

    &__container {
        display: flex;
        flex-wrap: wrap;
        width: @block-width;
        margin: 0 auto;
    }

    &__banner {
        width: 320px;
        margin-right: 32px;
        text-align: center;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    &__banner-image {
        display: inline-block;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: #e6ebf0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__banner-description {
        margin-top: 16px;
        margin-bottom: 0;
        font-size: 17px;
        font-family: "Source Sans Pro";
        line-height: 1.41;
    }
}

@import "./Benefits1.tablet.less";