@import "../../../../styles/constants.less";


.benefits3 {
    width: 100%;
    padding: 31px 0;

    &__container {
        display: flex;
        width: @block-width;
        margin: 0 auto;
    }

    &__titled-image-container {
        width: 320px;
        min-width: 320px;
        padding-top: 9px;
    }

    &__image {
        display: block;
        margin: 0 auto;
    }

    &__title {
        margin: 0;
        margin-top: 8px;
        font-size: 30px;
        font-family: Rubik;
        font-weight: normal;
        line-height: 1.33;
        word-wrap: break-word;
    }

    &__banner-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 32px;
    }

    &__banner {
        width: 320px;
        margin-right: 32px;
        margin-bottom: 40px;

        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    &__banner-icon {
        width: 56px;
        height: 56px;
        background-color: #c1c7d0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__banner-description {
        margin: 0;
        margin-top: 8px;
        font-size: 19px;
        font-family: "Source Sans Pro";
        line-height: 1.26;
        word-wrap: break-word;
    }
}

@import "./Benefits3.tablet.less";
@import "./Benefits3.mobile.less";