@import "../../../../styles/constants.less";


.features-1 {
    width: 100%;
    padding: 40px 0;

    &__container {
        display: flex;
        flex-wrap: wrap;
        width: @block-width;
        margin: 0 auto;
    }

    &__banner {
        width: 320px;
        margin-right: 32px;
        margin-bottom: 32px;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    &__banner-icon {
        width: 56px;
        height: 56px;
        background-color: #c1c7d0;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__banner-caption {
        margin: 16px 0 0 0;
        color: #091e42;
        font-size: 21px;
        font-family: Rubik;
        line-height: 1.14;
        word-wrap: break-word;
    }

    &__banner-description {
        margin: 0;
        margin-top: 8px;
        color: #6c798f;
        font-size: 17px;
        font-family: "Source Sans Pro";
        line-height: 1.41;
    }
}