.country-divider {
    width: 100%;
    padding: 32px 0;

    &__container {
        width: 1024px;
        height: 64px;
        margin: 0 auto;
        padding-top: 8px;
        border-bottom: 1px solid #dfe1e6;
        background-image: url("../../../../images/earth.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        color: #091e42;
        font-family: Rubik;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.33;
        letter-spacing: 0.7px;
        text-transform: uppercase;
    }

    &__flag-icon {
        width: 21px;
        height: 15px;
        margin: 0 8px;
    }
}