.footer-menu-item-editor {
    position: relative;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__header {
        display: flex;
        height: 80px;
        padding: 0 5px;
        align-items: flex-end;
        background-color: #fafafa;
    }

    &__title {
        flex-grow: 1;
        margin: 12px 15px;
        font-size: 20px;
        font-weight: 500;
    }

    &__text-field,
    &__select-field {
        font-size: 14px !important;
    }

    &__link-editor {
        margin: 40px 0 16px;
    }
}