@import "../../../../styles/constants.less";


.footer-menu {
    background-color: #172b4d;

    &__container {
        display: flex;
        width: @section-width;
        margin: 0 auto;
        padding: 32px 0;
    }

    &__logo {
        flex-shrink: 0;
        width: 48px;
        height: 40px;
    }

    &__links-container {
        display: flex;
        width: 100%;
        margin-left: 130px;
        color: white;
        font-size: 17px;
        font-family: "Source Sans Pro";
    }

    &__links-container-column {
        display: flex;
        flex-direction: column;
        margin-right: 100px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__menu-item {
        line-height: 1.41;

        &--regular {
            line-height: 2;
            font-weight: normal;
            text-transform: none;
        }

        &--headline {
            margin-bottom: 24px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    &__menu-item-link-icon {
        width: 16px;
        height: 16px;
        margin-left: 4px;
        margin-top: -5px;
        fill: white;
        vertical-align: middle;
    }

    &__bottom-line {
        padding: 16px 32px 32px 36px;
        border-top: 1px solid #42526e;
        color: white;
        font-size: 14px;
        font-family: "Source Sans Pro";
        line-height: 1.71;
    }

    &__bottom-line-container {
        display: flex;
        align-items: center;
        width: @section-width;
        margin: 0 auto;
    }

    &__bottom-line-links-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__copyright {
        flex-shrink: 0;
    }

    &__secondary-links-container {
        margin-left: 48px;
    }

    &__secondary-link {
        margin: 0 16px;
    }

    &__social-links {
        display: flex;
    }

    &__social-link {
        position: relative;
        width: 32px;
        height: 32px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: #5e6c84;

        &:last-child {
            margin-right: 0;
        }
    }

    &__social-link-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        width: auto;
        max-width: 62%;
        max-height: 62%;
        transform: translate(-50%, -50%);
    }
}