<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400" rel="stylesheet">

<style>
    * {
        box-sizing: border-box;
    }

    html, body {
        font-family: Roboto, sans-serif;
    }

    h1, h2, h3, h4, h5, h5, p, a, button {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>