.title2 {
    width: 100%;
    padding: 16px 0;

    &--dark {
        .title2__title {
            color: #091e42;
        }
    }

    &--light {
        .title2__title {
            color: white;
        }
    }

    &__title {
        width: 1024px;
        margin: 0 auto;
        font-size: 30px;
        font-family: Rubik;
        font-weight: normal;
        text-align: center;
        line-height: 1.11;
    }
}