.get-started {
    width: 100%;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 1024px;
        margin: 0 auto;
        padding-top: 24px;
        padding-bottom: 32px;
    }

    &__textbox {
        width: 249px;
        margin-right: 16px;
    }

    &__button {
        white-space: nowrap;
    }
}