.block-list-header {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 72px;

    &__page-name {
        display: inline-block;
        margin: 0;
        color: rgba(0, 0, 0, 0.87);
        font-size: 20px;
        font-weight: 500;
        line-height: 56px;
    }

    &__show-navigation-button {
        position: absolute !important;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__undo-button {
        margin-left: 50px !important;
    }

    &__action-buttons {
        margin-left: auto;
    }

    &__action-button {
        opacity: 0.5;
    }

    &__publish-button {
        margin-left: 10px;
    }

    &__manipulation-button-wrapper {
        display: inline-block;
        position: relative;
    }

    &__manipulation-button {
        padding: 0;
        border: 0;
        background: transparent;
        cursor: pointer;
        outline: 0;
        opacity: 0.5;
        transition: opacity 0.2s;
        position: absolute;
        right: 40%;
        top: -24px;

        &:hover {
            opacity: 1;
        }
    }

}