.block-settings {
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__header {
        display: flex;
        height: 80px;
        padding: 0 5px;
        align-items: flex-end;
        background-color: #fafafa;
    }

    &__title {
        flex-grow: 1;
        margin: 12px 15px;
        font-size: 20px;
        font-weight: 500;
    }

    &__content {
        height: 100%;
        padding: 16px 24px;
    }

    &__block-name {
        font-size: 20px;
        margin: 0;
    }
}