@import "../../../../styles/constants.less";


@media screen and (max-width: @mobile-width) {
    .main {
        &__container {
            padding: 32px 15px 0 15px;
        }

        &__title {
            font-size: 30px;
        }

        &__description {
            font-size: 20px;
            line-height: 1.6;
        }

        &__image {
            margin-top: 111px;
        }
    }
}
