@import "../../../../styles/constants.less";


@media screen and (max-width: @tablet-width) {
    .main {
        height: auto;
        padding: 0;

        &__container {
            width: 100%;
            padding: 64px 15px 0 15px;
        }

        &__title {
            width: 100%;
            margin-top: 24px;
            font-size: 36px;
        }

        &__description {
            width: 100%;
            font-size: 24px;
            line-height: 1.5;
        }

        &__image {
            display: block;
            position: initial;
            width: ~"calc(100% + 30px)";
            margin-left: -15px;
            margin-right: -15px;
            margin-top: 55px;
        }
    }
}
