@import "../../../../styles/constants.less";

@text-content-width: 584px;
@image-right-offset: 216px;


.main {
    position: relative;
    width: 100%;
    padding: 96px 0 136px;

    &__image {
        position: absolute;
        top: 0;
        right: ~"calc(50% - @{block-width} / 2 - @{image-right-offset})";
        max-width: 800px;
    }

    &__container {
        position: relative;
        width: @block-width;
        margin: 0 auto;
        word-wrap: break-word;
    }

    &__title {
        width: @text-content-width;
        margin: 0;
        margin-top: 40px;
        color: #091e42;
        font-size: 46px;
        font-family: Rubik;
        font-weight: 500;
        line-height: 1.22;
    }

    &__description {
        width: @text-content-width;
        margin: 0;
        margin-top: 8px;
        color: #6c798f;
        font-size: 27px;
        font-weight: normal;
        font-family: "Source Sans Pro";
        line-height: 1.48;
    }
}

@import "./Main.tablet.less";
@import "./Main.mobile.less";