.menu-list-item {
    display: flex;
    align-items: center;
    padding: 0;
    border: 0;
    background: transparent;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    opacity: 0.78;
    outline: 0;
    cursor: pointer;

    &__position-icon {
        flex-shrink: 0;
        width: 16px !important;
        height: 16px !important;
        margin-right: 8px;
        opacity: 0.78;

        &:hover {
            cursor: grab;
        }
    }

    &__icon {
        flex-shrink: 0;
        margin-right: 8px;
        opacity: 0.78;
    }

    &__title {
        flex-grow: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}