.page-template-header {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 72px;

    &__title {
        display: inline-block;
        margin: 0;
        color: rgba(0, 0, 0, 0.87);
        font-size: 20px;
        font-weight: 500;
        line-height: 56px;
    }

    &__show-navigation-button {
        position: absolute !important;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
    }
}