.block-selector {
    padding: 16px;

    &__block {
        display: block;
        width: ~"calc(100% - 6px)";
        margin: 10px 3px;
    }

    &__preview-image {
        width: 100%;
        border-radius: 2px;
    }

    &__section {
        &--opened {
            .block-selector__section-trigger-icon {
                transform: rotate(180deg);
            }
        }
    }

    &__section-trigger {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        font-size: 14px;
        font-family: Roboto;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.87);
        line-height: 56px;
        cursor: pointer;
        user-select: none;
        opacity: 0.78;
    }

    &__section-trigger-icon {
        width: 24px;
        height: 24px;
        margin-right: 5px;
        opacity: 0.53;
        transition: transform 0.15s;
    }
}