@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600.css");
@import url("https://fonts.googleapis.com/css?family=Rubik:400,500.css");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400.css");

h1, h2, h3, h4, h5, h5, p, a, button, span {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}