@import "normalize.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700.css");
@import "./code-text-style";
@import "./html-editor";


* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

:global(#root) {
    width: 100%;
    height: 100%;
}