.cursor-pointer() {
    cursor: pointer;
}

.disable-outline() {
    outline: 0;
}

.font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

.disable-font-smoothing {
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
}