.page-settings {
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__header {
        display: flex;
        height: 80px;
        padding: 0 5px;
        align-items: flex-end;
        background-color: #fafafa;
    }

    &__title {
        flex-grow: 1;
        margin: 12px 15px;
        font-size: 20px;
        font-weight: 500;
    }

    &__content {
        height: 100%;
        padding: 16px 24px;
    }

    &__subtitle {
        margin-top: 40px;
        font-size: 20px;
        font-weight: 500;
    }

    &__divider {
        margin: 0 -24px !important;
        background-color: #374967 !important;
    }

    &__index-settings {
        display: flex;
        font-size: 14px;
        font-weight: 500;
    }

    &__index-settings-checkbox {
        width: auto !important;
        margin-left: 30px;

        &:first-child {
            margin-left: 0;
        }
    }

    &__image-selector {
        margin-top: 15px;
    }

    &__remove-page-button {
        margin-top: 50px;
    }
}