.auth-form {
    width: 360px;
    padding: 24px 16px;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24),
                0 0px 4px 0 rgba(0, 0, 0, 0.12);

    &__logo {
        width: 48px;
        height: 40px;
    }

    &__content {
        margin-top: 30px;
    }

    &__login-button {
        margin-top: 16px;
    }

    &__error-message {
        margin: 10px 0;
        color: rgb(244, 67, 54);
        font-size: 14px;
    }
}