@import "../../../styles/constants.less";


.header {
    padding: 16px 0 8px;

    &__container {
        display: flex;
        justify-content: space-between;
        width: @section-width;
        margin: 0 auto;
    }

    &__logo {
        width: 48px;
        height: 40px;
    }

    &__menu {
        display: flex;
        align-items: center;
        font-size: 17px;
        font-family: "Source Sans Pro";
    }

    &__menu-item {
        margin: 0 12px;
        padding: 0;
        border: 0;
        background: transparent;
        color: #091e42;
        text-decoration: none;

        &:last-child {
            margin-right: 0;
        }
    }
}