.header-menu-dropdown-editor {
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__title {
        color: rgba(0, 0, 0, 0.87);
        font-size: 20px;
        font-weight: 500;
    }
    
    &__text-field,
    &__select-field {
        font-size: 14px !important;
    }

    &__add-item-button {
        display: flex;
        align-items: center;
        margin: 10px 22px;
        padding: 5px 10px;
        border: 0;
        border-radius: 3px;
        background: transparent;
        font-size: 14px;
        opacity: 0.78;
        outline: 0;
        cursor: pointer;

        &:hover, &:focus {
            background-color: #eee;
        }

        &:active {
            background-color: #ccc;
        }
    }

    &__add-item-button-icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        opacity: 0.78;
    }
}