.page-builder {
    display: flex;
    height: 100%;

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        will-change: padding;
        transition: padding 0.2s;
    }

    &__panel {
        width: 360px;
        flex-shrink: 0;
        background-color: #fafafa;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24),
                    0 0px 4px 0 rgba(0, 0, 0, 0.12);
    }

    &__block-list-header,
    &__page-template-header {
        margin: 25px 0;
    }

    &__block-list-container,
    &__page-template-container {
        width: 100%;
        height: 100%;
        padding: 3px 72px 0;
        overflow: hidden;
    }

    &__block-list,
    &__page-template {
        height: 100%;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24),
                    0 0px 4px 0 rgba(0, 0, 0, 0.12);
    }

    &__tab-panel {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__tab-panel-container {
        height: 100%;

        & > div {
            background-color: #ffffff;
            position: absolute !important;
            height: calc(100% - 50px )!important;
            z-index: 1;
        }
    }

    &__tab-pages-active {
        & > div:nth-child(1) {
            z-index: 2;
        }
    }

    &__tab-insert-active {
        & > div:nth-child(2) {
            z-index: 2;
        }
    }

    &__page-selector {
        min-height: 100%;
    }

    &__menu-trigger {
        width: 30px;
        height: 100vh;
    }
}
