@import "../../../../styles/constants.less";


.link-with-icon {
    width: 100%;

    &__content {
        width: 80%;
    }

    &__container {
        width: @block-width;
        margin: 0 auto;
        text-align: center;
    }

    &__icon {
        width: 24px;
        height: 28px;
        margin-right: 8px;
    }

    &__link {
        display: inline-flex;
        margin: 20px 0;
        align-items: center;
        color: #158aff;
        font-size: 16px;
        font-weight: 600;
        font-family: "Source Sans Pro";
        line-height: 1.5;
        text-decoration: none;
    }
}

@import "./LinkWithIcon.tablet.less";