@import "../../../../styles/constants.less";


@media screen and (max-width: @mobile-width) {
    .link-with-button {
        &__button {
            margin-left: 0;

            &:nth-child(2) {
                margin-top: 16px
            }
        }

        &__button-wrapper {
            flex-direction: column;
        }
    }
}