@import "../../../../styles/constants.less";


.link-with-button {
    width: 100%;
    background-color: #158aff;

    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 1024px;
        margin: 0 auto;
        padding: 24px 0;
        color: white;
    }

    &__content {
        width: 80%;
        margin-bottom: 16px;
    }

    &__button {
        margin-left: 16px;
        white-space: nowrap;

        &:first-child {
            margin-left: 0;
        }
    }

    &__button-wrapper {
        display: flex;
    }
}

@import "./LinkWithButton.tablet.less";
@import "./LinkWithButton.mobile.less";