.navigation {
    background-color: white;
    
    &__container {
        padding: 24px 16px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 48px;
        height: 40px;
        margin-left: 10px;
    }

    &__user {
        margin-top: 30px;
    }

    &__user-name {
        display: block;
        margin-left: 16px;
        margin-top: -10px;
        border-bottom: 1px dotted #eee;
        line-height: 40px;
    }

    &__menu {
        margin-top: 20px;
    }

    &__menu-link {
        text-decoration: none;
    }

    &__menu-link-icon {
        fill: #172b4e !important;
    }
}