@import "../../../../styles/constants.less";


.big-icons-2 {
    width: 100%;
    padding: 40px 0;

    &__container {
        display: flex;
        flex-wrap: wrap;
        width: @block-width;
        margin: 0 auto;
    }

    &__banner {
        width: 320px;
        margin-right: 32px;
        margin-bottom: 32px;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    &__banner-icon {
        width: 48px;
        height: 48px;
        background-color: #c1c7d0;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__banner-description {
        margin: 0;
        margin-top: 8px;
        color: #091e42;
        font-size: 17px;
        font-family: "Source Sans Pro";
        line-height: 1.41;
    }

    &__link {
        margin-top: 54px;
    }
}