@import "../../../../styles/constants.less";


.header-menu {
    padding: 16px 0 8px;
    background-color: white;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: @section-width;
        margin: 0 auto;
    }

    &__logo {
        flex-shrink: 0;
        width: 48px;
        height: 40px;
    }

    &__menu-item-container {
        display: flex;
        font-size: 17px;
        font-family: "Source Sans Pro";
        line-height: 1.41;
    }

    &__menu-item {
        display: flex;
        align-items: center;
        margin-left: 24px;
        color: #091e42;
        text-decoration: none;

        &:first-child {
            margin-left: 0;
        }
    }

    &__menu-item-link-icon {
        width: 16px;
        height: 16px;
        margin-left: 3px;
        margin-bottom: 3px;
    }

    &__menu-item-dropdown-icon {
        width: 18px;
        height: 18px;
    }
}