@import "./ButtonMixins.less";


.button--primary {
    @color: #091e42;
    @color--disabled: #5e6c84;

    @border-color: #ffdd2d;
    @border-color--hover: #ffcd33;
    @border-color--disabled: #dfe1e6;

    @background-color: #ffdd2d;
    @background-color--hover: #ffcd33;
    @background-color--disabled: #dfe1e6;


    border: 1px solid @border-color;
    background-color: @background-color;
    color: @color;

    .hover(
        @border-color--hover,
        @background-color--hover
    );

    .active(
        @border-color,
        @background-color
    );

    .disabled(
        @border-color--disabled,
        @background-color--disabled,
        @color--disabled
    );

    &__link-icon {
        fill: @color;
    }
}


.button--secondary {
    @color: #091e42;
    @color--disabled: #8993a4;

    @border-color: #ffcd33;
    @border-color--hover: #ffcd33;
    @border-color--disabled: #dfe1e6;

    @background-color: #ffffff;
    @background-color--hover: #ffcd33;
    @background-color--disabled: #ffffff;


    border: 1px solid @border-color;
    background-color: @background-color;
    color: @color;

    .hover(
        @border-color--hover,
        @background-color--hover
    );

    .active(
        @border-color,
        @background-color
    );

    .disabled(
        @border-color--disabled,
        @background-color--disabled,
        @color--disabled
    );

    &__link-icon {
        fill: @color;
    }
}


.button--alternate {
    @color: #091e42;
    @color--disabled: #091e42;

    @border-color: #ffffff;
    @border-color--hover: #ffffff;
    @border-color--disabled: #ffffff;

    @background-color: #ffffff;
    @background-color--hover: #ffffff;
    @background-color--disabled: #ffffff;


    border: 1px solid @border-color;
    background-color: @background-color;
    color: @color;

    .hover(
        @border-color--hover,
        @background-color--hover,
        0.9
    );

    .active(
        @border-color,
        @background-color
    );

    .disabled(
        @border-color--disabled,
        @background-color--disabled,
        @color--disabled,
        0.6
    );

    &__link-icon {
        fill: @color;
    }
}