.hover(@border-color, @background-color, @opacity: 1) {
    &:hover {
        border-color: @border-color;
        background-color: @background-color;
        opacity: @opacity;
    }
}

.active(@border-color, @background-color, @opacity: 1) {
    &:active {
        border-color: @border-color;
        background-color: @background-color;
        opacity: @opacity;
    }
}

.disabled(@border-color, @background-color, @color, @opacity: 1) {
    &.button--disabled {
        border-color: @border-color;
        background-color: @background-color;
        color: @color;
        opacity: @opacity;

        &:hover, &:active {
            background-color: @background-color;
            box-shadow: none;
        }

        .button__link-icon {
            fill: @color;
        }
    }
}