@import "./ButtonTypes.less";
@import "../../../styles/mixins.less";


.button {
    display: inline-block;
    height: 40px;
    padding: 8px 24px;
    border-radius: 4px;
    font-family: "Source Sans Pro";
    font-size: 17px;
    font-weight: 600;
    line-height: 1.41;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .cursor-pointer;
    .disable-outline;
    .disable-font-smoothing;

    &:hover {
        box-shadow: 0 2px 3px 0 rgba(23, 43, 77, 0.4);
    }

    &:active {
        box-shadow: none;
    }

    &--link {
        text-decoration: none;

        &.button--disabled {
            pointer-events: none;
        }
    }

    &--disabled {
        cursor: default;
    }

    &__link-icon {
        width: 16px;
        height: 16px;
        margin-left: 3px;
        margin-bottom: 4px;
        vertical-align: middle;
    }
}