.block {
    display: flex;
    justify-content: center;
    margin: 10px;
    overflow: hidden;
    cursor: default;

    &--selected {
        box-shadow: 0 0 2px 1px #88c4ff;
    }

    &__element {
        pointer-events: none;
    }
}