@import "../../../../styles/constants.less";


.reviews {
    width: 100%;
    padding: 72px 0;

    &__container {
        display: flex;
        justify-content: center;
        position: relative;
        margin: 0 auto;
        width: @block-width;
        min-height: 256px;
    }

    &__slide-container {
        position: relative;
        width: 100%;
        margin: 0 auto;
        border-radius: 4px;
        background-color: #f4f5f7;
        overflow: hidden;
    }

    &__title {
        margin: 0;
        font-size: 12px;
        font-family: Rubik;
        font-weight: 500;
        line-height: 1.33;
        letter-spacing: 0.7px;
        text-transform: uppercase;
        opacity: 0.9;
    }

    &__text {
        margin: 0;
        margin-top: 24px;
        font-size: 22px;
        font-family: "Source Sans Pro";
        line-height: 1.45;
    }

    &__signature {
        margin: 0;
        margin-top: 24px;
        font-size: 12px;
        font-family: Rubik;
        font-style: italic;
        line-height: 1.33;
        letter-spacing: 0.7px;
        opacity: 0.9;
    }

    &__slide-wrapper {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        min-width: 869px;
        padding: 0;
        margin: 0;
        z-index: 1;
        transition: left 0.3s ease-in-out;
        list-style-type: none;
    }

    &__slide {
        width: 100%;
        height: 100%;
        padding: 32px 64px;
    }

    &__quotes-icon {
        position: absolute;
        width: 59px;
        height: 48px;
        left: 32px;
        top: -27px;
        z-index: 1;
    }

    &__bubbles-icon {
        position: absolute;
        width: 73px;
        height: 72px;
        right: 32px;
        bottom: -22px;
        z-index: 1;
    }

    &__arrow {
        position: absolute;
        top: 40%;
        z-index: 2;

        &--left {
            left: -24px;
        }

        &--right {
            right: -24px;
        }
    }
}