@import "../../../../styles/constants.less";


.brochure {
    position: relative;
    width: 100%;
    padding: 112px 0 64px;

    &__image {
        position: absolute;
        top: 24px;
        right: ~"calc(50% - @{block-width} / 2)";
        width: 352px;
        height: 392px;
        z-index: 1;
    }

    &__container {
        width: @block-width;
        margin: 0 auto;
        padding: 35px 48px 56px;
        border-radius: 4px;
        background-color: #f4f5f7;
        word-wrap: break-word;
    }

    &__title {
        width: 624px;
        margin: 0;
        margin-bottom: 8px;
        font-size: 26px;
        font-family: Rubik;
        font-weight: normal;
        line-height: 1.223
    }

    &__overhead {
        margin: 0;
        margin-bottom: 15px;
        font-size: 17px;
        font-family: "Source Sans Pro";
    }

    &__description {
        width: 624px;
        margin: 0;
        margin-bottom: 24px;
        font-size: 17px;
        font-family: "Source Sans Pro";
        line-height: 1.41;
    }

    &__button {
        max-width: 624px;
    }
}