@import "../../../../styles/constants.less";


@media screen and (max-width: @mobile-width) {
    .persons {
        padding: 24px 15px;

        &__column-container {
            padding: 32px 16px;
        }

        &--two-point-in-column {
            display: flex;
            width: 100%;

            &:nth-child(2n) {
                padding-left: 0;
            }
        }
    }
}