@import "../../../../styles/constants.less";


.persons {
    width: 100%;
    padding: 40px 0;

    &--with-descriptions {
        .persons__point-icon {
            margin-right: 16px;
        }

        .persons__point-title {
            font-size: 19px;
            font-family: Rubik;
            line-height: 1.26;
        }
    }

    &--without-descriptions {
        .persons__point-icon {
            margin-right: 8px;
        }

        .persons__point-title {
            font-size: 17px;
            font-family: "Source Sans Pro";
            line-height: 1.41;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        width: @block-width;
        margin: 0 auto;
    }

    &__column-container {
        flex-shrink: 0;
        width: 496px;
        padding: 27px 24px;
        border: solid 1px #dfe1e6;
        border-radius: 4px;
        background-color: #ffffff;
    }

    &__title {
        margin: 0;
        margin-bottom: 24px;
        font-size: 26px;
        font-family: Rubik;
        line-height: 1.23;

        &--increased {
            font-size: 30px;
        }
    }

    &__small-title {
        margin: 0;
        margin-bottom: 7px;
        font-size: 17px;
        font-family: "Source Sans Pro";
    }

    &__point {
        display: flex;
        margin-bottom: 24px;
        font-size: 17px;
        font-family: "Source Sans Pro";
        line-height: 1.41;
    }

    &__point-icon {
        width: 24px;
        height: 24px;
    }

    &__point-title {
        margin: 0;
    }

    &__point-description {
        margin: 0;
        font-size: 17px;
        font-family: "Source Sans Pro";
        line-height: 1.41;
    }
}

@import "./Persons.tablet.less";
@import "./Persons.mobile.less";