@import "../../../../styles/constants.less";


@media screen and (max-width: @tablet-width) {
    .persons {
        padding: 40px 15px;

        &--two-point-in-column {
            display: inline-flex;
            width: 50%;

            &:nth-child(2n) {
                padding-left: 32px;
            }
        }

        &__container {
            width: 100%;
            flex-direction: column;
        }

        &__column-container {
            width: 100%;
            padding: 32px;

            &:first-child {
                margin-bottom: 32px;
            }
        }
    }
}