.checkbox--light {
    @border-color: #c1c7d0;
    @border-color--hover: #88c4ff;
    @border-color--checked: #158aff;
    @background-color: #ffffff;

    .checkbox__checked-state {
        border: solid 1px @border-color;
        background-color: @background-color;

        &:hover {
            border: solid 2px @border-color--hover;
        }
    }

    .checkbox__input {
        display: none;

        &:checked + span {
            border: solid 2px @border-color--checked;

            &:after {
                background-color: @border-color--checked;
            }
        }
    }
}

.checkbox--dark {
    @text-color: #ffffff;

    @border-color: transparent;
    @border-color--hover: #c2e0ff;
    @border-color--checked: #158aff;
    @background-color: #ebecf0;

    .checkbox__label {
        color: @text-color;
    }

    .checkbox__checked-state {
        border: solid 1px @border-color;
        background-color: @background-color;

        &:hover {
            border: solid 2px @border-color--hover;
        }
    }

    .checkbox__input {
        display: none;

        &:checked + span {
            &:after {
                margin: 3px;
                background-color: @border-color--checked;
            }
        }
    }
}