@import "CheckboxThemes.less";
@import "../../../styles/mixins.less";

.checkbox {
    font-family: "Source Sans Pro";

    &__label {
        display: flex;
        font-size: 14px;
        line-height: 1.14;

       .font-smoothing;
    }

    &__checked-state {
        display: inline-block;
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
        margin-right: 8px;
        border-radius: 4px;
        transition: box-shadow 0.5s;
    }

    &__input {
        display: none;

        &:checked + span {

            &:after {
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                margin: 2px;
                border-radius: 2px;
            }
        }
    }
}