@import "../../../../styles/constants.less";


@media screen and (max-width: @tablet-width) {
    .statistics1 {
        &__container {
            flex-direction: column;
            width: 100%;
            padding: 15px;
        }

        &__title-container {
            width: 100%;
        }

        &__statistics-container {
            padding-left: 0;
        }
    }
}
