@import "../../../../styles/constants.less";


@media screen and (max-width: @mobile-width) {
    .statistics1 {
        &__info-item {
            width: 100%;
            margin-top: 24px;
            margin-right: 0;
        }
    }
}
