.statistics1 {
    width: 100%;
    padding: 48px 0;

    &__container {
        display: flex;
        width: 1024px;
        margin: 0 auto;
    }

    &__title-container {
        flex-shrink: 0;
        width: 300px;
    }

    &__icon {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #c1c7d0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__title {
        margin: 8px 0;
        color: #091e42;
        font-size: 24px;
        font-family: "Source Sans Pro";
        font-weight: normal;
        line-height: 1.58;
    }

    &__statistics-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 30px;
    }

    &__info-item {
        width: 210px;
        margin-top: 32px;
        margin-right: 32px;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    &__info-item-caption {
        margin: 0;
        color: #091e42;
        font-size: 42px;
        font-family: Quicksand;
        font-weight: 300;
        line-height: 1.14;
    }

    &__info-item-description {
        margin: 8px 0;
        color: #6c798f;
        font-size: 17px;
        font-family: "Source Sans Pro";
        line-height: 1.41;
    }
}

@import "./Statistics1.tablet.less";
@import "./Statistics1.mobile.less";