@import "../../../../styles/constants.less";


.products1 {
    width: 100%;
    padding: 48px 0;
    background-color: #158aff;

    &__container {
        display: flex;
        width: @block-width;
        margin: 0 auto;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding-left: 32px;
        padding-top: 16px;
    }

    &__image-container {
        position: relative;
        flex-shrink: 0;
        width: 320px;
        height: 248px;
        border-radius: 4px;
        background-color: @image-placeholder-color;
    }

    &__image {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        border-radius: 4px;
        transform: translate(-50%, -50%);
    }

    &__title {
        margin: 0;
        margin-bottom: 8px;
        color: white;
        font-size: 36px;
        font-family: Rubik;
        font-weight: normal;
        line-height: 1.11;
    }

    &__description {
        margin: 0;
        color: white;
        font-size: 17px;
        font-family: "Source Sans Pro";
        line-height: 1.41;
    }

    &__link {
        margin-top: 24px;
    }
}