@import "../../../styles/constants.less";


.page-template {
    background-color: white;

    &__header-menu {
        margin-bottom: 2px;

        &--selected {
            box-shadow: 0 0 2px 1px #88c4ff;
        }
    }

    &__footer-menu {
        &--selected {
            box-shadow: 0 0 2px 1px #88c4ff;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 460px;
        background-color: #e7e7e7;
    }

    &__content-title {
        color: rgba(0, 0, 0, 0.87);
        opacity: 0.3;
    }
}