@import "../../../../styles/constants.less";

@text-content-width: 587px;
@image-right-offset: 216px;


.hero1 {
    position: relative;
    width: 100%;
    height: 488px;
    padding: 56px 0;
    overflow: hidden;

    &__background-image {
        position: absolute;
        left: 50%;
        top: 0;
        width: 2560px;
        height: 488px;
        transform: translate(-50%);
    }

    &__container {
        position: relative;
        width: @block-width;
        margin: 0 auto;
        word-wrap: break-word;
    }

    &__title {
        position: relative;
        width: @text-content-width;
        margin: 0;
        margin-top: 40px;
        color: #091e42;
        font-size: 46px;
        font-family: Rubik;
        font-weight: 500;
        line-height: 1.22;
        z-index: 1;
    }

    &__description {
        position: relative;
        width: @text-content-width;
        margin: 0;
        margin-top: 8px;
        color: #6c798f;
        font-size: 27px;
        font-weight: normal;
        font-family: "Source Sans Pro";
        line-height: 1.48;
        z-index: 1;
    }

    &__button {
        max-width: 60%;
        margin-top: 24px;
    }

    &__image {
        position: absolute;
        top: 0;
        right: ~"calc(50% - @{block-width} / 2 - @{image-right-offset})";
        width: 800px;
    }
}

@import "./Hero1.tablet.less";
@import "./Hero1.mobile.less";