.image-selector {
    background-color: transparent;

    &__preloader {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__preview {
        position: relative;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &--empty {
            background-size: auto;
            background-repeat: repeat;
            background-image: url("../../../images/image-selector-background-pattern.png");
        }
    }

    &__upload-button {
        position: absolute;
        right: 20px;
        bottom: 0;
        transform: translateY(50%);
        z-index: 1;
    }

    &__uploader-input {
        visibility: hidden;
        opacity: 0;
    }
}