.list-editor {
    &__list-item-editor {
        margin-top: 20px;
    }

    &__list-item-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 500;
    }

    &__add-button {
        width: 100%;
        margin: 20px 0;

        &--close {

            button{
                background-color: #FF4081 !important; ;
            }
        }
    }
}