@import "../../../../styles/constants.less";


.reviews-2 {
    width: 100%;
    padding: 48px 0;

    &__container {
        display: flex;
        width: @block-width;
        margin: 0 auto;
    }

    &__review {
        width: 496px;
        color: #091e42;
        position: relative;

        &--highlighted {
            padding: 55px 40px 105px;
            background-color: #f4f5f7;

            .reviews-2__review-text {
                margin-top: 32px;
                color: #091e42;
                font-size: 22px;
                line-height: 1.45;
            }
        }
    }

    &__quotes {
        position: absolute;
        top: -16px;
        right: 16px;

       &--bottom {
           bottom: -16px;
           left: 16px;
           right: unset;
           top: unset;
       }
    }

    &__review-header {
        display: flex;
        align-items: center;
    }

    &__review-avatar {
        flex-shrink: 0;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-color: @background-placeholder-color;
    }

    &__review-caption {
        margin-left: 16px;
        font-size: 12px;
        font-style: italic;
        font-family: Rubik;
        line-height: 1.33;
        letter-spacing: 0.7px;
    }

    &__review-text {
        margin: 0;
        margin-top: 16px;
        color: #6c798f;
        font-size: 19px;
        font-family: "Source Sans Pro";
        line-height: 1.26;
    }

    &__review-list {
        padding-left: 32px;

        .reviews-2__review {
            margin-top: 48px;
        }
    }
}