.link-blue {
    @color: #158aff;
    @color--hover: #0064c9;
    @color--active: @color;

    color: @color;

    &:hover {
        color: @color--hover;

        .link__icon {
            fill: @color--hover;
        }
    }

    &:active {
        color: @color--active;

        .link__icon {
            fill: @color--active;
        }
    }

    .link__icon {
        fill: @color;
    }
}

.link--white {
    @color: white;
    @color--hover: @color;
    @color--active: @color;

    color: @color;

    &:hover {
        color: @color--hover;

        .link__icon {
            fill: @color--hover;
        }
    }

    &:active {
        color: @color--active;

        .link__icon {
            fill: @color--active;
        }
    }

    .link__icon {
        fill: @color;
    }
}