@import "./LinkThemes.less";


.link {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    font-family: "Source Sans Pro";
    line-height: 1.5;
    text-decoration: none;

    &:hover {
        .link__icon {
            transform: translateX(8px);
        }
    }

    &:active {
        .link__icon {
            transform: none;
        }
    }

    &__icon {
        margin-top: -5px;
        margin-left: 1px;
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
}
