.footer-menu-settings {
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__header {
        display: flex;
        height: 80px;
        padding: 0 5px;
        align-items: flex-end;
        background-color: #fafafa;
    }

    &__title {
        flex-grow: 1;
        margin: 12px 15px;
        font-size: 20px;
        font-weight: 500;
    }

    &__content,
    &__item-editor,
    &__social-link-editor,
    &__secondary-link-editor {
        height: 100%;
    }

    &__item-editor,
    &__social-link-editor,
    &__secondary-link-editor {
        padding: 16px 24px;
    }

    &__section-title {
        display: block;
        padding: 40px 24px 16px;
        color: rgba(0, 0, 0, 0.87);
        font-size: 20px;
        font-weight: 500;
    }

    &__add-item-button {
        display: flex;
        align-items: center;
        margin: 10px 22px;
        padding: 5px 10px;
        border: 0;
        border-radius: 3px;
        background: transparent;
        font-size: 14px;
        opacity: 0.78;
        outline: 0;
        cursor: pointer;

        &:hover, &:focus {
            background-color: #eee;
        }

        &:active {
            background-color: #ccc;
        }
    }

    &__add-item-button-icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        opacity: 0.78;
    }

    &__item-list {
        padding: 8px 24px;
    }

    &__column-label {
        display: block;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.87);
        font-display: 16px;
        line-height: 1.5;
    }

    &__menu-list-item {
        width: 100%;
        border-radius: 3px;
        margin-left: -16px;
        padding: 16px 0;

        &:hover, &:focus {
            background-color: #eee;
        }

        &:active {
            background-color: #ccc;
        }
    }

    &__sortable-helper {
        z-index: 1500;
        background-color: #fafafa;
    }
}