@import "../../../../styles/constants.less";

@text-content-width: 584px;
@image-right-offset: 216px;


.hero2 {
    position: relative;
    width: 100%;
    padding: 56px 0 96px;
    z-index: 0;

    &__container {
        position: relative;
        width: @block-width;
        margin: 0 auto;
        word-wrap: break-word;
    }

    &__title {
        position: relative;
        width: @text-content-width;
        margin: 0;
        margin-top: 32px;
        color: white;
        font-size: 46px;
        font-family: Rubik;
        font-weight: 500;
        line-height: 1.22;
        z-index: 1;
    }

    &__description {
        position: relative;
        width: @text-content-width;
        margin: 0;
        margin-top: 8px;
        color: white;
        font-size: 27px;
        font-weight: normal;
        font-family: "Source Sans Pro";
        line-height: 1.48;
        z-index: 1;
    }

    &__image {
        position: absolute;
        top: 0;
        right: ~"calc(50% - @{block-width} / 2 - @{image-right-offset})";
        width: 800px;
    }
}

@import "./Hero2.tablet.less";
@import "./Hero2.mobile.less";