@import "../../../../styles/constants.less";


@media screen and (max-width: @mobile-width) {
    .hero2 {
        &__container {
            padding: 8px 15px;
        }

        &__title {
            margin-top: 16px;
            font-size: 30px;
        }

        &__description {
            font-size: 20px;
            line-height: 1.6;
        }
    }
}