@import "../../../../styles/constants.less";

@contact-item-width: 320px;
@contact-item-margin: 32px;

.contacts {
    width: 100%;
    padding: 32px 0;

    &__title {
        margin: 0 auto;
        font-size: 30px;
        font-family: Rubik;
        font-weight: normal;
        line-height: 1.33;
        text-align: center;
    }

    &__container {
        width: @block-width;
        margin: 0 auto;
    }

    &__list-container {
        display: flex;
        flex-wrap: wrap;
        width: ~"calc(@{contact-item-width} * 2 + @{contact-item-margin})";
        margin: 0 auto;
    }

    &__item {
        width: @contact-item-width;
        margin-top: 22px;
        margin-right: @contact-item-margin;

        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    &__item-icon {
        width: 32px;
        height: 32px;
        margin: 0 auto;
        margin-bottom: 16px;
        background-size: contain;
        background-color: #c1c7d0;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__item-title {
        margin-top: 16px;
        font-size: 22px;
        font-family: Rubik;
        font-weight: 500;
        text-align: center;
        line-height: 1.09;
    }

    &__item-details {
        padding-top: 8px;
        border-top: 1px solid #dfe1e6;
    }

    &__item-details-line {
        display: flex;
        margin-bottom: 8px;
        font-size: 17px;
        font-family: "Source Sans Pro";
        line-height: 1.41;
    }

    &__item-details-label {
        width: 61px;
        margin: 0;
        margin-right: 8px;
    }

    &__item-details-value {
        margin: 0;
    }
}