@import "../../../styles/constants.less";


.bottom-line {
    padding: 20px 0;
    background-color: #172b4d;
    color: white;
    font-size: 14px;
    font-family: "Source Sans Pro";
    line-height: 1.71;

    &__container {
        display: flex;
        justify-content: space-between;
        width: @section-width;
        margin: 0 auto;
    }

    &__link {
        margin: 0 16px;
        color: white;
        text-decoration: none;
    }

    &__general-info {
        display: flex;
        align-items: center;
    }

    &__copyright-text {
        margin-right: 48px;
    }

    &__social-buttons {
        display: flex;
        align-items: center;
    }

    &__social-button {
        display: inline-block;
        position: relative;
        width: 32px;
        height: 32px;
        margin: 0 5px;
        border-radius: 50%;
        background-color: #5e6c84;
        background-position: center;
        background-repeat: no-repeat;
        text-decoration: none;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}