.breadcrumbs {
    width: 1024px;
    margin: 0 auto;
    padding: 8px 0;
    font-family: "Source Sans Pro";
    font-size: 15px;
    line-height: 1.6;

    &--dark {
        color: #091e42;
    }

    &--light {
        color: white;
    }

    &__part {
        margin: 0 5px;
    }

    &__divider {
        margin: 0 10px;
    }

    &__link {
        text-decoration: none;
        color: inherit;

        &:hover {
            cursor: pointer;
        }
    }
}

@import "./Breadcrumbs.tablet.less";
@import "./Breadcrumbs.mobile.less";