@import "../../../../styles/constants.less";


.image-list {
    width: 100%;
    padding: 32px 0;

    &__container {
        display: flex;
        width: @block-width;
        margin: 0 auto;
    }

    &__image-container {
        position: relative;
        flex-shrink: 0;
        width: 496px;
    }

    &__image {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 352px;
        height: auto;
        border-radius: 4px;
        transform: translate(-50%, -50%);
        box-shadow: 0 5px 11px 0 rgba(94, 108, 132, 0.2);
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 32px;
        color: #091e42;
    }

    &__title {
        margin: 0;
        margin-bottom: 24px;
        font-size: 30px;
        font-family: Rubik;
        font-weight: normal;
        line-height: 1.33;
    }

    &__point {
        display: flex;
        margin-bottom: 24px;
        font-size: 17px;
        font-family: "Source Sans Pro";
        line-height: 1.41;
    }

    &__point-icon {
        width: 24px;
        height: 24px;
        margin-right: 16px;
    }
}