@import "../../../styles/constants.less";


@media screen and (max-width: @mobile-width) {
    .infographic {
        &__graphic-wrapper {
            width: 100%;
            margin-top: 36px;
            margin-right: 0;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}