@import "../../../styles/constants.less";


@media screen and (max-width: @tablet-width) {
    .infographic {
        &__container {
            width: 100%;
            padding: 16px;
        }

        &__graphic-wrapper {
            width: 50%;
            margin-right: 0;

            &:nth-child(n+3) {
                margin-top: 36px;
            }
        }

        &__graphic-main {
            width: 100px;
            height: 65px;
            padding: 0;
            justify-content: center;
        }

        &__graphic-cover {
            top: 0;
            height: 65px;
        }
    }
}