.infographic {
    width: 100%;
    padding: 24px 0;

    &__container {
        display: flex;
        flex-wrap: wrap;
        width: 1024px;
        min-height: 320px;
        margin: 0 auto;
        padding: 132px 54px 32px 54px;
    }

    &__title {
        display: block;
        margin-top: 8px;
        font-family: "Source Sans Pro";
        font-size: 17px;
        line-height: 1.41;
        word-wrap: break-word;
    }

    &__graphic-wrapper {
        display: flex;
        flex-direction: column;
        width: 164px;
        margin-right: 24px;

        &:nth-child(5n) {
            margin-right: 0;
        }

        &:nth-child(n+6) {
            margin-top: 132px;
        }
    }

    &__graphic-main {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 65px;
        height: 100px;
        padding-bottom: 8px;
        background: #7a869a;
        font-family: "Source Sans Pro";
        font-size: 17px;
        font-weight: 900;
        line-height: 1.41;
    }

    &__graphic-main-text {
        display: block;
        position: absolute;
        color: #ffffff;
    }

    &__graphic-cover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        background-color: #ffdd2d;
    }

    &__graphic-cover-text {
        font-family: "Source Sans Pro";
        font-size: 24px;
        font-weight: bold;
        line-height: 1;
        color: #ffffff;
    }
}

@import "./Infographic.tablet.less";
@import "./Infographic.mobile.less";