.title3 {
    width: 100%;
    padding: 16px 0;

    &__title {
        width: 1024px;
        margin: 0 auto;
        color: #091e42;
        font-size: 36px;
        font-family: Rubik;
        font-weight: normal;
        text-align: center;
        line-height: 1.11;
    }

    &__description {
        width: 1024px;
        margin: 0 auto;
        margin-top: 8px;
        color: #091e42;
        font-size: 22px;
        font-weight: normal;
        font-family: "Source Sans Pro";
        text-align: center;
        line-height: 1.45;
    }
}