@import "../../../styles/mixins.less";

@background-color: #8993a4;
@background-color--hover: #6c798f;


.circle-button {
    position: relative;
    width: 48px;
    height: 48px;
    border: 0;
    border-radius: 50%;
    background-color: @background-color;

    .cursor-pointer;
    .disable-outline;

    &:hover {
        background-color: @background-color--hover;
        box-shadow: 0 2px 3px 0 rgba(23, 43, 77, 0.4);
    }

    &:active {
        background-color: @background-color;
        box-shadow: none;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 24px;
        fill: white;
        transform: translate(-50%, -50%);
    }
}