@import "../../../../styles/constants.less";


.enterprise {
    width: 100%;
    padding: 64px 0;
    background-color: @background-placeholder-color;
    background-size: cover;
    background-position: center;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: @block-width;
        margin: 0 auto;
    }

    &__title {
        margin: 0;
        color: white;
        font-size: 36px;
        font-family: Rubik;
        font-weight: normal;
        line-height: 1.11;
        text-align: center;
    }

    &__description {
        margin: 0;
        color: white;
        font-size: 22px;
        font-family: "Source Sans Pro";
        line-height: 1.45;
        text-align: center;
    }

    &__link {
        margin-top: 16px;
    }
}