@import "../../../../styles/constants.less";


@media screen and (max-width: @tablet-width) {
    .benefits2 {
        padding: 8px 12px;

        &__container {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        &__banner {
            margin-right: 0;
            margin-top: 44px;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}
