.cards1 {
    width: 100%;
    padding: 16px 0;

    &__container {
        display: flex;
        flex-wrap: wrap;
        width: 1024px;
        margin: 0 auto;
    }

    &__card {
        width: 320px;
        margin-right: 32px;
        margin-bottom: 32px;
        padding: 24px;
        background: #ffffff;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    &__card-caption {
        margin: 0;
        color: #091e42;
        font-size: 21px;
        font-family: Rubik;
        font-weight: 500;
        line-height: 1.14;
        word-wrap: break-word;
    }

    &__card-description {
        margin: 0;
        color: #6c798f;
        font-size: 17px;
        font-family: "Source Sans Pro";
        line-height: 1.41;
    }

    &__card-link {
        margin-top: 16px;
    }
}