.not-found-page {
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    &__wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        max-width: 1000px;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }

    &__text-container {
        margin-top: 100px;
        color: #ffffff;
        font-family: Rubik;

        h1 {
            margin: 0;
            font-size: 56px;
            font-weight: normal;
            line-height: 1.14;
        }

        p {
            margin: 0 auto;
            margin-top: 16px;
            font-size: 19px;
            line-height: 1.26;
        }

        h3 {
            margin: 0;
            margin-top: 24px;
            font-size: 36px;
            font-weight: normal;
            line-height: 1.11;
        }
    }

    &__go-to-homepage-link {
        margin-top: 24px;
    }
}