@import "../../../../styles/constants.less";

@image-right-offset: 216px;


.hero3 {
    position: relative;
    width: 100%;
    padding: 56px 0 192px;
    word-wrap: break-word;

    &__title {
        position: relative;
        width: @block-width;
        margin: 0 auto;
        margin-top: 24px;
        color: #091e42;
        font-size: 46px;
        font-family: Rubik;
        font-weight: 500;
        text-align: center;
        line-height: 1.22;
        z-index: 1;
    }

    &__description {
        position: relative;
        width: @block-width;
        margin: 0 auto;
        margin-top: 8px;
        color: #6c798f;
        font-size: 27px;
        font-weight: normal;
        font-family: "Source Sans Pro";
        text-align: center;
        line-height: 1.48;
        z-index: 1;
    }

    &__image {
        position: absolute;
        top: 56px;
        right: ~"calc(50% - @{block-width} / 2 - @{image-right-offset})";
        width: 800px;
    }
}

@import "./Hero3.tablet.less";
@import "./Hero3.mobile.less";