.menu-link-editor {
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__title {
        color: rgba(0, 0, 0, 0.87);
        font-size: 20px;
        font-weight: 500;
    }
    
    &__text-field,
    &__select-field {
        font-size: 14px !important;
    }
    
    &__radio-group {
        display: flex;
        margin: 8px 0;
    }

    &__radio-button {
        width: auto !important;
        min-width: 140px;
    }
}