.block-list {
    position: relative;
    background-color: white;

    &__position-controls {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: -30px;
        top: 0;
        transform: translateY(-50%);
    }

    &__manipulation-controls {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -35px;
        top: 0;
        transform: translateY(-50%);
    }

    &__move-block-button,
    &__manipulation-button {
        padding: 0;
        border: 0;
        background: transparent;
        cursor: pointer;
        outline: 0;
        opacity: 0.5;
        transition: opacity 0.2s;

        &:hover {
            opacity: 1;
        }
    }

    &__move-block-button {
        width: 24px;
        height: 24px;
    }

    &__manipulation-button {
        margin: 5px 0;
    }

    &__manipulation-controls-divider {
        margin: 5.5px 0 !important;
    }

    &__position-icon {
        opacity: 0.5;
        transform: rotate(90deg);
    }
}