@import "../../../../styles/constants.less";


.products2 {
    width: 100%;
    background-color: white;

    &__container {
        display: flex;
        width: @block-width;
        margin: 0 auto;
    }

    &__banner-container {
        width: 496px;
        margin-right: 32px;
        border-radius: 4px;
        background-size: cover;
        background-position: center;
        color: white;
        box-shadow: 0 2px 5px 0 rgba(23, 43, 77, 0.4);

        &:last-child {
            margin-right: 0;
        }
    }

    &__banner {
        width: 100%;
        height: 100%;
        padding: 32px 24px;
        border-radius: 4px;

        &--left {
            background-color: rgba(108, 121, 143, 0.17);
        }

        &--right {
            background-color: rgba(21, 138, 255, 0.17);
        }
    }

    &__banner-title {
        margin: 0;
        margin-bottom: 32px;
        font-size: 26px;
        font-weight: 500;
        font-family: Rubik;
        line-height: 1.23;
    }

    &__banner-description {
        margin: 0;
        font-size: 17px;
        font-family: "Source Sans Pro";
        line-height: 1.41;
    }

    &__banner-link {
        margin-top: 16px;
    }
}