.partners2 {
    width: 100%;
    padding: 16px 0;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 1024px;
        margin: 0 auto;
    }

    &__banner {
        width: 144px;
        height: 104px;
        margin-right: 16px;
        margin-left: 16px;
        background-color: #dfe1e6;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;

        &:first-child {
            margin-left: 0;
            margin-top: 0 !important;
        }

        &:last-child {
            margin-right: 0;
        }

        &--six {

            &:nth-child(6n) {
                margin-right: 0;
            }

            &:nth-child(6n+1) {
                margin-left: 0;
            }
        }

        &--five {

            &:nth-child(5n) {
                margin-right: 0;
            }

            &:nth-child(5n+1) {
                margin-left: 0;
                margin-top: 32px;
            }
        }

        &--four {

            &:nth-child(4n) {
                margin-right: 0;
            }

            &:nth-child(4n+1) {
                margin-left: 0;
                margin-top: 32px;
            }
        }

        &--three {

            &:nth-child(3n) {
                margin-right: 0;
            }

            &:nth-child(3n+1) {
                margin-left: 0;
                margin-top: 32px;
            }
        }

        &--two {

            &:nth-child(2n) {
                margin-right: 0;
            }

            &:nth-child(2n+1) {
                margin-left: 0;
                margin-top: 32px;
            }
        }
    }
}