@import "./TextboxMixins.less";
@import "../../../styles/mixins.less";


.textbox--light {
    @input-color--disabled: #ccc;

    @label-color: #091e42;
    @label-color--disabled: #97a0af;

    @border-color: #c8cdd2;
    @border-color--focus: #88c4ff;
    @border-color--valid: #8be2ad;
    @border-color--invalid: #fd9caa;
    @border-color--disabled: #ebecf0;


    &.textbox--disabled {
        .textbox__label {
            color: @label-color--disabled;
        }

        .textbox__input {
            border-width: 2px;
            border-color: @border-color--disabled;
            color: @input-color--disabled;
        }
    }

    .textbox__label {
        color: @label-color;
    }

    .textbox__input {
        border: 1px solid @border-color;

        &:focus {
            border-color: @border-color--focus;

            .accent-shadow(@border-color--focus);
        }

        &--valid {
            border-color: @border-color--valid;

            .accent-shadow(@border-color--valid);
        }

        &--invalid {
            border-color: @border-color--invalid;

            .accent-shadow(@border-color--invalid);
        }
    }
}


.textbox--dark {
    @input-color--disabled: #909090;

    @label-color: #ffffff;
    @label-color--disabled: @label-color;
    @label-color--error: #fd9caa;

    @border-color: transparent;
    @border-color--focus: #158aff;
    @border-color--valid: #8be2ad;
    @border-color--invalid: #fd9caa;

    @background-color: #ebecf0;
    @background-color--disabled: #ebecf0;


    &.textbox--disabled {
        .textbox__label {
            color: @label-color--disabled;
        }

        .textbox__input {
            background-color: @background-color--disabled;
            color: @input-color--disabled;
        }
    }

    .textbox__label {
        color: @label-color;
    }

    .textbox__input {
        border: 1px solid @border-color;
        background-color: @background-color;

        &:focus {
            border-color: @border-color--focus;

            .accent-shadow(@border-color--focus);
        }

        &--valid {
            border-color: @border-color--valid;

            .accent-shadow(@border-color--valid);
        }

        &--invalid {
            border-color: @border-color--invalid;

            .accent-shadow(@border-color--invalid);
        }
    }

    .textbox__error {
        color: @label-color--error;
        
        .font-smoothing;
    }
}