@import "./TextboxThemes.less";
@import "../../../styles/mixins.less";

@input-color: #091e42;
@error-color: #ff788c;


.textbox {
    font-family: "Source Sans Pro";

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        line-height: 1.14;
    }

    &__label {
        font-size: 14px;
        line-height: 1.14;
    }

    &__error {
        margin-left: 20px;
        color: @error-color;
        font-size: 14px;
        line-height: 1.14;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__input {
        width: 100%;
        height: 40px;
        padding: 0 16px;
        border-radius: 4px;
        color: #091e42;
        font-size: 17px;
        font-family: "Source Sans Pro";
        line-height: 40px;
        transition: box-shadow 0.2s;

        .disable-outline;
    }
}