@import "../../../../styles/constants.less";

@image-right-offset: 216px;


.hero4 {
    position: relative;
    width: 100%;
    padding: 56px 0 88px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    word-wrap: break-word;
    text-align: center;
    z-index: 0;

    &__breadcrumbs {
        position: relative;
        text-align: left;
    }

    &__title {
        position: relative;
        width: @block-width;
        margin: 0 auto;
        margin-top: 24px;
        color: white;
        font-size: 48px;
        font-family: Rubik;
        font-weight: 500;
        text-align: center;
        line-height: 1.17;
        z-index: 1;
    }

    &__description {
        position: relative;
        width: @block-width;
        margin: 0 auto;
        color: white;
        font-size: 22px;
        font-weight: normal;
        font-family: "Source Sans Pro";
        text-align: center;
        line-height: 1.45;
        z-index: 1;
    }

    &__button {
        position: relative;
        display: inline-block;
        margin: 24px auto 0;
        z-index: 1;
    }

    &__image {
        position: absolute;
        top: 56px;
        right: ~"calc(50% - @{block-width} / 2 - @{image-right-offset})";
        width: 800px;
    }
}


@import "./Hero4.tablet.less";
@import "./Hero4.mobile.less";