@import "../../../../styles/constants.less";


@media screen and (max-width: @tablet-width) {
    .hero4 {
        height: auto;
        padding: 56px 15px 15px 15px;

        &__breadcrumbs {
            padding-left: 0;
            padding-right: 0;
        }

        &__title {
            width: 100%;
            margin-top: 24px;
            font-size: 36px;
        }

        &__description {
            width: 100%;
            font-size: 24px;
            line-height: 1.5;
        }

        &__image {
            display: block;
            position: initial;
            width: ~"calc(100% + 30px)";
            margin-top: 27px;
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}