@import "../../../../styles/constants.less";


.checklist {
    width: 100%;
    padding: 16px 0;

    &__container {
        display: flex;
        flex-wrap: wrap;
        width: @block-width;
        margin: 0 auto;
    }

    &__title {
        margin: 0;
        font-size: 21px;
        font-family: Rubik;
        line-height: 1.14;
    }

    &__description {
        margin: 0;
        margin-top: 8px;
        font-size: 17px;
        font-family: "Source Sans Pro";
        line-height: 1.41;
    }

    &__point {
        display: flex;
        width: 496px;
        margin-right: 32px;

        &:nth-child(2n) {
            margin-right: 0;
        }

        &:nth-child(n+3) {
            margin-top: 32px;
        }
    }

    &__point-icon {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        margin-right: 16px;
    }
}