.page-preview {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0 72px;
    background-color: #f5f5f5;
    opacity: 0;
    transition: opacity 0.2s;
    overflow-y: scroll;

    &--visible {
        opacity: 1;
        z-index: 3;
    }

    &__header {
        position: relative;
        padding: 24px 0;
        text-align: center;
    }

    &__content {
        height: 100%;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24),
                    0 0 4px 0 rgba(0, 0, 0, 0.12);
    }

    &__close-button {
        position: absolute !important;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__device-button {
        opacity: 0.4;

        &--selected {
            opacity: 1;
        }
    }
}