@import "./PageSelectorMixins.less";


.page-selector {
    position: relative;

    &__page-template-button {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 28px;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        background: transparent;
        color: #172b4e;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        line-height: 56px;
        cursor: pointer;
        outline: 0;

        &--selected {
            .page-selected;
        }

        .page-states;
    }

    &__page-template-button-icon {
        margin-right: 8px;
    }

    &__page {
        display: flex;
        align-items: center;
        position: relative;
        height: 56px;
        min-width: 100%;
        padding: 0;
        border: 0;
        background: transparent;
        color: rgba(0, 0, 0, 0.87);
        font-size: 14px;
        font-family: Roboto;
        outline: 0;
        opacity: 0.78;
        cursor: pointer;
        transition: background-color 0.2s;

        &--selected {
            .page-selected;
        }

        .page-states;
    }

    &__toggle-button {
        margin-left: 4px;
    }

    &__toggle-button-icon {
        width: 24px;
        height: 24px;

        &--toggled {
            transform: rotate(180deg);
        }
    }

    &__page-title {
        display: flex;
        align-items: center;
    }

    &__page-title-icon {
        margin-right: 8px;
        opacity: 0.8
    }

    &__create-page-button {
        position: absolute;
        right: 24px;
        bottom: 24px;
    }

    &__preloader {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}