.page-states {
    &:hover {
        background-color: #eee;
    }

    &:active {
        background-color: #ccc;
    }
}

.page-selected {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 4px;
        left: 0;
        top: 0;
        background-color: #172b4e;
    }
}